=form_for @user do |f|
  = f.label :username
  = f.text_field :username
  = f.label :image
  = f.text_field :remote_image_url, placeholder: 'jpg, jpeg, gif, or png'
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit 'Sign-Up'


