%h1 Chat home!
- if current_user
  %h4#user-info
    Logged in as #{current_user.username}
    %img{src: current_user.image.thumb.url}
  #chats

  = form_tag(send_chat_path, id: 'chat-form', remote: true) do
    = select_tag 'channel', options_for_select([['chatroom', 'chatroom'],['902 Broadway', '902broadway'],['Today With Tanay', 'todaywithtanay'],['Studio 2','studio2']])
    = text_field_tag 'chat_input'
    = submit_tag 'Chat!'
- else
  = link_to "Please log in", sessions_new_path