!!!
%html
  %head
    %title SimpleChatFour
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = csrf_meta_tags
  %body
    = ENV['PUSHER_APP']
    = ENV['PUSHER_KEY']
    = ENV['PUSHER_SECRET']
    = yield
