!!!
%html
  %head
    %title SimpleChat
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = csrf_meta_tags
  %body
    = yield
