!!!
%html
  %head
    %title SimpleChatFour
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = csrf_meta_tags
  %body
    - if current_user
      = link_to "Sign Out", logout_path, method: :delete
    :javascript
      pusher = new Pusher("#{Pusher.key}");
    = yield
